<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mangas"></ion-back-button>
    </ion-buttons>
    <ion-title>Attack on Titan</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon> <!-- Ícono de Perfil -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/atackontitan.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ comic.nombre_comic }}</ion-card-title>
      <ion-card-subtitle>Descripción:</ion-card-subtitle>
      <p>{{ comic.descripcion }}</p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: {{ comic.precio | currency }}</p>
       <!-- Sección de cantidad con botones + y - -->
       <ion-item class="quantity-item">
        <ion-button (click)="changeQuantity(-1)" fill="clear" [disabled]="quantity <= 1" class="quantity-btn">
          -
        </ion-button>
        
        <!-- Campo de cantidad en el centro -->
        <ion-input [(ngModel)]="quantity" type="number" min="1" max="10" readonly class="quantity-input"></ion-input>
        
        <ion-button (click)="changeQuantity(1)" fill="clear" [disabled]="quantity >= 10" class="quantity-btn">
          +
        </ion-button>
      </ion-item>
        <ion-button expand="full" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
