<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="usuarios.length > 0; else noUsuarios">
      <ion-item *ngFor="let usuario of usuarios">
        <ion-label>
          <h2>{{ usuario.nombre }} {{ usuario.apellidos }}</h2>
          <p>RUT: {{ usuario.rut }}</p>
          <p>Correo: {{ usuario.correo }}</p>
          <p>Teléfono: {{ usuario.telefono }}</p>
          <p>Dirección: {{ usuario.direccion }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #noUsuarios>
      <p>No hay usuarios para mostrar.</p>
    </ng-template>
  </ion-list>
</ion-content>