<ion-app>
  <!-- menú lateral -->
  <ion-menu side="start" menuId="first" contentId="main" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="openMenu()">
            <ion-menu-button></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-title>Comics DC</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Página Principal</ion-item>
        <ion-item routerLink="/mangas">Mangas</ion-item>
        <ion-item routerLink="/comicsdc">Comics DC</ion-item>
        <ion-item routerLink="/comicsmarvel">Comics Marvel</ion-item>
        <ion-item routerLink="/login">Identifícate</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Primera barra con la barra de búsqueda, carrito y perfil -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> <!-- botón de menú -->
      </ion-buttons>
      <!-- Barra de búsqueda -->
      <ion-searchbar slot="end" (ionInput)="filterComics($event)" placeholder="Buscar cómics"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button routerLink="/carrito">
          <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
        </ion-button>
        <!-- Ícono de Perfil -->
        <ion-button routerLink="/perfil">
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Segunda barra con la flecha de retroceso y el título de la página -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button> <!-- Flecha de retroceso -->
      </ion-buttons>
      <ion-title>Comics DC</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- contenido principal -->
  <ion-content id="main">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="3" *ngFor="let comic of filteredComics">
          <ion-card class="comic-card"> <!-- Añadir la clase aquí -->
            <img [src]="comic.foto_comic" [alt]="comic.nombre_comic" (click)="navigateToComic(comic.link)">
            <ion-card-header>
              <ion-card-title>{{ comic.nombre_comic }}</ion-card-title>
              <ion-card-subtitle>{{ '$' + comic.precio }}</ion-card-subtitle> <!-- Aquí se añadió el símbolo de dólar -->
            </ion-card-header>
            <ion-card-content>
              <div class="quantity-box">
                <label for="quantity" class="quantity-label">Cantidad</label>
                <div class="quantity-controls">
                  <button class="quantity-button" (click)="decrement(comic)">-</button>
                  <input type="number" id="quantity" class="quantity-input" [(ngModel)]="comic.quantity" min="1" readonly />
                  <button class="quantity-button" (click)="increment(comic)">+</button>
                </div>
              </div>
              <ion-button expand="full" class="add-to-cartt" (click)="addToCart(comic)">Añadir al Carro</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
