<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="profile-icon-container">
        <ion-img [src]="user?.foto_usuario" class="profile-icon" *ngIf="user?.foto_usuario"></ion-img>
        <ion-icon name="person-circle-outline" class="profile-icon" *ngIf="!user?.foto_usuario"></ion-icon>
      </div>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ user?.nombre }} {{ user?.apellidos }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>{{ user?.correo }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono:</ion-label>
        <ion-text>{{ user?.telefono }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-text>{{ user?.direccion }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <ion-button expand="full" class="edit-button" (click)="editProfile()">Editar Perfil</ion-button>
    <ion-button expand="full" class="change-password-button" (click)="changePassword()">Modificar Contraseña</ion-button>
    <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
