<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Perfil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Ícono de Perfil -->
      <div class="profile-icon-container">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      </div>
      <!-- Nombre -->
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>{{ user.name }}</ion-text>
      </ion-item>
      <!-- Email -->
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-text>{{ user.email }}</ion-text>
      </ion-item>
      <!-- Rol -->
      <ion-item>
        <ion-label>Rol:</ion-label>
        <ion-text>{{ user.role }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Botones con colores personalizados -->
  <div class="button-container">
    <ion-button expand="full" class="edit-button" (click)="editProfile()">Editar Perfil</ion-button>
    <ion-button expand="full" class="change-password-button" (click)="changePassword()">Modificar Contraseña</ion-button>
  </div>
</ion-content>
