<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.foto_comic" alt="{{ item.nombre_comic }}"> 
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.nombre_comic }}</h2> 
        <p>{{ item.precio | currency }}</p> 
        <div>
          <ion-button size="small" fill="outline" (click)="decreaseQuantity(item)" [disabled]="item.quantity <= 1">-</ion-button>
          <span>{{ item.quantity }}</span>
          <ion-button size="small" fill="outline" (click)="increaseQuantity(item)" [disabled]="item.quantity >= 10">+</ion-button>
        </div>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="removeItem(item)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Total: {{ totalPrice | currency }}</ion-title>
      <ion-button expand="full" color="primary" (click)="checkout()">Proceder al Pago</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
