ion-content {
  --background: #006effad; /* fondo */
  padding: 20px; /* Espacio alrededor del contenido */
}

ion-card {
  --background: #ffffff; /* Fondo blanco para la tarjeta */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 15px; /* Espacio interno de la tarjeta */
}

ion-card-title,
ion-card-subtitle,
ion-card-content,
ion-label {
  color: #333; /* Color gris oscuro para todos los textos dentro de la tarjeta */
}

ion-item {
  --background: transparent; /* Fondo transparente para los campos de entrada dentro de la tarjeta */
  margin-bottom: 15px; /* Espacio entre items */
}

ion-input {
  color: #333; /* Color del texto del input (gris oscuro) */
}

ion-button {
  --background: #4caf50; /* Color de fondo del botón */
  --color: white; /* Color del texto del botón */
  --border-radius: 8px; /* Bordes redondeados */
  margin-top: 20px; /* Espacio superior del botón */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px; /* Espacio superior para separar de los inputs */
  margin-bottom: 10px;
  margin-left: 16px; /* Alineación con el contenido del ion-item */
  display: block; /* Asegura que el mensaje de error ocupe todo el ancho */
}
