<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let compra of comprasPorFecha">
      <ion-label>
        <h2>Fecha de Compra: {{ compra.fecha }}</h2>
        <ion-list>
          <ion-item *ngFor="let item of compra.items">
            <ion-thumbnail slot="start">
              <img [src]="item.comic.foto_comic" alt="{{ item.comic.nombre_comic }}">
            </ion-thumbnail>
            <ion-label>
              <h3>{{ item.comic.nombre_comic }}</h3>
              <p>Cantidad: {{ item.cantidad }}</p>
              <p>Precio: {{ item.comic.precio | currency }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Total de Compras: {{ totalPrice | currency }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
