<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comicsmarvel"></ion-back-button>
    </ion-buttons>
    <ion-title>The Amazing Spider-Man</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon> <!-- Ícono de Perfil -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/spiderman.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>The Amazing Spider-Man</ion-card-title>
      <ion-card-subtitle>Descripción:</ion-card-subtitle>
      <p>"The Amazing Spider-Man, un pilar del universo Marvel Comics, sigue las hazañas de Peter Parker, un estudiante de secundaria que adquiere habilidades arácnidas tras ser mordido por una araña radioactiva. Enfrentando desafíos personales y supervillanos icónicos, Spider-Man lucha contra el crimen en Nueva York mientras equilibra su vida como héroe y su identidad secreta."</p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $18.990</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
