<ion-header>
  <ion-toolbar>
    <ion-title>Thor</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button href="carrito.html">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/thor.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>The Mighty Thor: The Wrath Of Odin!</ion-card-title>
      <ion-card-subtitle>Descripión:</ion-card-subtitle>
      <p>"The Mighty Thor: The Wrath of Odin!" sumerge a los lectores en una saga épica que sigue las hazañas del poderoso dios nórdico del trueno. Cuando el reino de Asgard se ve amenazado por una fuerza oscura ancestral, Thor se embarca en una búsqueda desesperada para salvar su hogar y proteger a los nueve reinos. Confrontando a poderosos enemigos y enfrentando desafíos que ponen a prueba su propia deidad, Thor se encuentra en una batalla por la supervivencia que lo llevará al límite de sus habilidades y más allá. Con un arte impresionante y una narrativa llena de acción y emoción, "The Wrath of Odin!" es una lectura obligada para los fanáticos de Thor y del universo Marvel en general."<p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $21.990</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>