<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comicsdc"></ion-back-button>
    </ion-buttons>
    <ion-title>Flash</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon> <!-- Ícono de Perfil -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/flash.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>The Flash N°52</ion-card-title>
      <ion-card-subtitle>Descripción:</ion-card-subtitle>
      <p>"El cómic de Flash sigue las aventuras de Barry Allen, un científico convertido en superhéroe después de ser alcanzado por un rayo."</p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: {{ comic.price | currency }}</p> <!-- Mostrar precio como número -->
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" class="add-to-cart" (click)="addToCart()">Añadir al Carro</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
