ion-content {
  --background: #006effad; /* fondo */
}

/* Estilos para iconos específicos */
ion-icon[name="cart"] {
  color: #86beff; /* Azul para el carrito */
}

ion-icon[name="person-circle-outline"] {
  color: #f35454; /* Rojo para el perfil */
}

ion-menu-button {
  color: #ff9900; /* Naranja para el ícono del menú */
}

/* Contenedor de las tarjetas */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 10px;
}

/* Tarjetas */
.comic-card {
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 95%; /* Ancho fijo para las tarjetas */
  height: 500px; /* Altura fija para las tarjetas */
  margin: 10px;
}

/* Imágenes */
.comic-card img {
  width: 100%;
  height: 310px; /* Altura fija para las imágenes */
  object-fit: cover; /* Asegura que las imágenes se ajusten sin deformarse */
}

.comic-card ion-card-title,
.comic-card ion-card-subtitle,
.comic-card ion-label {
  color: #000; /* Asegura que el texto sea negro */
  font-size: 1rem; /* Tamaño de fuente relativo */
}

/* Estilos para ion-item y ion-button */
.ion-item, .ion-button {
  margin-top: auto;
}

.ion-item ion-input {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.ion-button {
  background-color: #0000ff;
  color: #ffffff;
}

/* Estilos para el contenedor */
#container {
  text-align: center;
  position: absolute; /* Cambiado a absolute para centrar correctamente */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Centro en ambas direcciones */
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
