<ion-app>
  <!-- menú lateral -->
  <ion-menu side="start" menuId="first" contentId="main" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="openMenu()">
            <ion-menu-button></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-title>Comics Marvel</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Página Principal</ion-item>
        <ion-item routerLink="/mangas">Mangas</ion-item>
        <ion-item routerLink="/comicsdc">Comics DC</ion-item>
        <ion-item routerLink="/comicsmarvel">Comics Marvel</ion-item>
        <ion-item routerLink="/login">Identifícate</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Primera barra con los botones de búsqueda, carrito y perfil -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- Barra de búsqueda -->
      <ion-searchbar slot="end" (ionInput)="filterComics($event)" placeholder="Buscar comics"></ion-searchbar>
      <ion-buttons slot="end">
        <!-- Botón de carrito -->
        <ion-button routerLink="/carrito">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
        <!-- Ícono de perfil -->
        <ion-button routerLink="/perfil">
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Segunda barra con el botón de retroceso y el título de la página -->
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Botón de retroceso -->
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Comics Marvel</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- contenido principal -->
  <ion-content id="main">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="3" *ngFor="let comic of filteredComics">
          <ion-card class="comic-card">
            <!-- Imagen del cómic con enlace a la página del cómic -->
            <img [src]="comic.image" [alt]="comic.title" (click)="navigateToComic(comic.link)">
            <ion-card-header>
              <ion-card-title>{{ comic.title }}</ion-card-title>
              <ion-card-subtitle>{{ comic.price }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Cantidad</ion-label>
                <ion-input type="number" min="1" value="1" [(ngModel)]="comic.quantity"></ion-input>
              </ion-item>
              <ion-button expand="full" class="add-too-cart" (click)="addToCart(comic)">Añadir al Carro</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>