<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Secret Wars</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button href="carrito.html">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/secretwars.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Marvel Super Heroes: Secret Wars</ion-card-title>
      <ion-card-subtitle>Descripión:</ion-card-subtitle>
      <p>"Marvel Super Heroes: Secret Wars es una saga épica que reúne a los héroes y villanos más emblemáticos del Universo Marvel en una batalla cósmica sin precedentes. Cuando un ser omnipotente conocido como el Beyonder transporta a los personajes a un mundo extraterrestre llamado Battleworld, se ven obligados a enfrentarse entre sí en una lucha por la supervivencia y el control. Con alianzas cambiantes, traiciones impactantes y enfrentamientos épicos, Secret Wars redefine el género de los eventos de cómics con su narrativa apasionante y sus consecuencias duraderas. Este cómic es un imprescindible para los fans de Marvel que buscan una aventura llena de acción y suspenso."<p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $20.990</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
