<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>La Liga de la Justicia</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
          </ion-button>
          <!-- Ícono de Perfil -->
          <ion-button routerLink="/perfil">
            <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/ligadelajusticia1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Liga De La Justicia #27: Legado</ion-card-title>
      <ion-card-subtitle>Descripión:</ion-card-subtitle>
      <p>"La Liga de la Justicia se reúne una vez más en el número 27 para enfrentar un desafío que pone en juego el futuro de la Tierra. En “Legado”, Superman, Wonder Woman, Flash y Green Lantern se ven envueltos en una batalla épica que no solo pondrá a prueba su fuerza sino también sus valores y su capacidad para inspirar a las generaciones futuras. Con el destino de una ciudad submarina futurista en la balanza, nuestros héroes deben superar las sombras del pasado para asegurar un legado de esperanza. ¡Una saga que redefine lo que significa ser un superhéroe en el universo de DC!"</p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $20.890</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
