<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Iron-Man</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/ironman.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>The Invincible Iron Man: Cry Revolution!</ion-card-title>
      <ion-card-subtitle>Descripión:</ion-card-subtitle>
      <p>"The Invincible Iron Man: Cry Revolution!" narra la emocionante historia de Tony Stark, también conocido como Iron Man, mientras se enfrenta a una nueva amenaza que desafía su ingenio y su tecnología. Cuando un misterioso grupo terrorista amenaza con desestabilizar el mundo, Iron Man se ve obligado a enfrentarse a su pasado y a sus propios demonios mientras lucha por proteger a la humanidad. Con giros emocionantes, intriga política y una acción impresionante, este cómic ofrece una mirada fascinante al mundo de Iron Man mientras lucha por la justicia y la paz en un mundo cada vez más complejo y peligroso."<p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $24.990</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>