<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ant-man</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button href="carrito.html">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/antman.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>The Astonishing Ant-Man</ion-card-title>
      <ion-card-subtitle>Descripión:</ion-card-subtitle>
      <p>"The Astonishing Ant-Man sigue las aventuras de Scott Lang, un exconvicto y experto en tecnología que asume el papel del héroe diminuto, Ant-Man. Con un traje que le permite encogerse hasta el tamaño de una hormiga y aumentar su fuerza, Scott enfrenta desafíos tanto dentro como fuera del traje mientras equilibra su vida como padre soltero y superhéroe. Con un tono ligero, humor irreverente y tramas llenas de giros, este cómic ofrece una mezcla única de acción, comedia y drama familiar que cautiva a los lectores con su enfoque fresco y entretenido del mundo de los superhéroes."</p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $23.990</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>