<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comicsdc"></ion-back-button>
    </ion-buttons>
    <ion-title>SuperMan</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon> <!-- Botón de Búsqueda -->
      </ion-button>
      <ion-button routerLink="/carrito">
        <ion-icon slot="icon-only" name="cart"></ion-icon> <!-- Botón de Carrito -->
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon> <!-- Ícono de Perfil -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="assets/img/superman1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Superman #264: El Secreto del Mariscal de Campo Fantasma</ion-card-title>
      <ion-card-subtitle>Descripción:</ion-card-subtitle>
      <p>"En este emocionante número, Superman se enfrenta a un enemigo inusual: el Mariscal de Campo Fantasma. Este cómic promete acción, misterio y heroísmo mientras Superman se enfrenta a un desafío que va más allá de la fuerza física. ¡Prepárate para descubrir el secreto del Mariscal de Campo Fantasma en esta emocionante entrega!"</p>
    </ion-card-header>
    <ion-card-content>
      <div class="comic-details">
        <h3>Detalles</h3>
        <p>Precio: $18.800</p>
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" min="1" [(ngModel)]="quantity"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="addToCart()">Añadir al Carrito</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
