ion-content {
  --background: #6dafc4; /* Cambia este color si lo deseas */
}


#container {
  text-align: center;

  position: center;
  left: 50;
  right: 50;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%; /* Posiciona fuera del viewport */
  opacity: 0; /* Oculta la imagen */
  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
}

.carousel-slide.active {
  left: 0; /* Mueve la imagen al viewport */
  opacity: 1; /* Muestra la imagen */
}

.carousel-slide img {
  width: 100%;
  height: 91%;
  object-fit: cover;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}