ion-content {
  --background: #86cfe7; /* Cambia este color si lo deseas */
}


comic-card {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  height: 550px; /* Mantiene todas las tarjetas del mismo tamaño */
}

.welcome-card {
  background-color: #d8f2ff; /* Un color suave para diferenciarla */
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.welcome-card img {
  width: 200px; /* Tamaño del logo */
  margin: 0 auto; /* Centrar la imagen */
}

.welcome-card:hover {
  transform: scale(1.05); /* Un leve aumento al interactuar */
}

.info-tienda {
  background-color: #e3f2fd; /* Color azul claro */
  color: #333;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-tienda:hover {
  background-color: #bbdefb; /* Un azul más oscuro al interactuar */
  transform: scale(1.02);
}

.compra {
  background-color: #e3f2fd; /* Color azul claro */
  color: #333;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.compra:hover {
  background-color: #bbdefb; /* Un azul más oscuro al interactuar */
  transform: scale(1.02);
}

.productos {
  background-color: #e3f2fd; /* Color azul claro */
  color: #333;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productos:hover {
  background-color: #bbdefb; /* Un azul más oscuro al interactuar */
  transform: scale(1.02);
}


#container {
  text-align: center;

  position: center;
  left: 50;
  right: 50;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%; /* Posiciona fuera del viewport */
  opacity: 0; /* Oculta la imagen */
  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
}

.carousel-slide.active {
  left: 0; /* Mueve la imagen al viewport */
  opacity: 1; /* Muestra la imagen */
}

.carousel-slide img {
  width: 100%;
  height: 91%;
  object-fit: cover;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}