/* Estilos generales para ion-content */
ion-content {
  --background: #006effad; /* fondo */
}

/* Estilos para iconos específicos */
ion-icon[name="cart"] {
  color: #86beff; /* Verde para el carrito */
}

ion-icon[name="person-circle-outline"] {
  color: #f01616; /* Azul para el perfil */
}

ion-menu-button {
  color: #ff9900; /* Naranja para el ícono del menú */
}

/* Contenedor del carrusel */
.carousel-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out;
}

.carousel-slide.active {
  left: 0;
  opacity: 1;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-slide img {
    height: auto; /* Ajustar altura automáticamente en pantallas más pequeñas */
  }
}

/* Estilos para el contenedor de las tarjetas */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 10px;
}

/* Estilos de las tarjetas de los cómics */
.comic-card {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  height: 500px;
  margin: 10px;
}

.comic-card img {
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.comic-card ion-card-title,
.comic-card ion-card-subtitle,
.comic-card ion-label {
  color: #000;
  font-size: 1rem;
}

/* Estilos para ion-item y ion-button */
.ion-item, .ion-button {
  margin-top: auto;
}

.ion-item ion-input {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

ion-button.add-to-cart {
  --background: #ff0404 !important; /* Asegura que se aplique el fondo rojo */
  --color: #ffffff !important;      /* Asegura que el texto blanco se aplique */
}

.ion-button:hover {
  background-color: #d93a3a; /* Un tono más oscuro para el hover */
  cursor: pointer; /* Cambia el cursor a pointer al pasar sobre el botón */
}

/* Estilos para la tarjeta de bienvenida */
.welcome-card {
  background-color: #f4f9fc;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-card img {
  width: 200px;
  margin: 0 auto;
}

.welcome-card ion-card-title {
  color: red;
}

/* Estilos para secciones de información */
.info-tienda,
.compra,
.productos {
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor */
#container {
  text-align: center;
  position: center;
  left: 50;
  right: 50;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Estilos para el pie de página */
.footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
