<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="text-center mb-4">
      <img src="./assets/img/logo.png" alt="Logo" class="img-fluid">
    </div>
    <form (ngSubmit)="onSubmit(registroForm)" #registroForm="ngForm" novalidate>
      <ion-item>
        <ion-label position="floating">RUT</ion-label>
        <ion-input type="text" name="rut" [(ngModel)]="rut" required pattern="^[0-9]+-[0-9Kk]{1}$"></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['rut']?.dirty && registroForm.controls['rut']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['rut']?.errors?.['required']">El RUT es requerido.</ion-text>
        <ion-text color="danger" *ngIf="registroForm.controls['rut']?.errors?.['pattern']">El RUT debe seguir el formato 12345678-9 o 12345678-K.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="nombre" required pattern="^[a-zA-Z\s]+$"></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['nombre']?.dirty && registroForm.controls['nombre']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['nombre']?.errors?.['required']">El nombre es requerido.</ion-text>
        <ion-text color="danger" *ngIf="registroForm.controls['nombre']?.errors?.['pattern']">El nombre solo puede contener letras.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" name="apellido" [(ngModel)]="apellido" required pattern="^[a-zA-Z\s]+$"></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['apellido']?.dirty && registroForm.controls['apellido']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['apellido']?.errors?.['required']">El apellido es requerido.</ion-text>
        <ion-text color="danger" *ngIf="registroForm.controls['apellido']?.errors?.['pattern']">El apellido solo puede contener letras.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="correo" [(ngModel)]="correo" required email></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['correo']?.dirty && registroForm.controls['correo']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['correo']?.errors?.['required']">El email es requerido.</ion-text>
        <ion-text color="danger" *ngIf="registroForm.controls['correo']?.errors?.['email']">Debe ser un correo electrónico válido.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Dirección de Envío</ion-label>
        <ion-input type="text" name="direccion" [(ngModel)]="direccion" required></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['direccion']?.dirty && registroForm.controls['direccion']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['direccion']?.errors?.['required']">La dirección es requerida.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" name="telefono" [(ngModel)]="telefono" required pattern="^\+569[0-9]{8}$"></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['telefono']?.dirty && registroForm.controls['telefono']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['telefono']?.errors?.['required']">El teléfono es requerido.</ion-text>
        <ion-text color="danger" *ngIf="registroForm.controls['telefono']?.errors?.['pattern']">El teléfono debe tener el formato +569XXXXXXX.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="contrasena" [(ngModel)]="contrasena" required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$"></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['contrasena']?.dirty && registroForm.controls['contrasena']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['contrasena']?.errors?.['required']">La contraseña es requerida.</ion-text>
        <ion-text color="danger" *ngIf="registroForm.controls['contrasena']?.errors?.['pattern']">La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" name="confirmarContrasena" [(ngModel)]="confirmarContrasena" required></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['confirmarContrasena']?.dirty && registroForm.controls['confirmarContrasena']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['confirmarContrasena']?.errors?.['required']">Confirmar contraseña es requerido.</ion-text>
        <ion-text color="danger" *ngIf="contrasena !== confirmarContrasena">Las contraseñas no coinciden.</ion-text>
      </div>

      <!-- Pregunta de Seguridad -->
      <ion-item>
        <ion-label position="floating">Pregunta de Seguridad</ion-label>
        <ion-select [(ngModel)]="preguntaSeguridad" name="preguntaSeguridad" required>
          <ion-select-option *ngFor="let pregunta of preguntas" [value]="pregunta">{{ pregunta }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['preguntaSeguridad']?.dirty && registroForm.controls['preguntaSeguridad']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['preguntaSeguridad']?.errors?.['required']">La pregunta de seguridad es requerida.</ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Respuesta de Seguridad</ion-label>
        <ion-input type="text" name="respuestaSeguridad" [(ngModel)]="respuestaSeguridad" required></ion-input>
      </ion-item>
      <div *ngIf="registroForm.submitted || (registroForm.controls['respuestaSeguridad']?.dirty && registroForm.controls['respuestaSeguridad']?.invalid)">
        <ion-text color="danger" *ngIf="registroForm.controls['respuestaSeguridad']?.errors?.['required']">La respuesta de seguridad es requerida.</ion-text>
      </div>

      <!-- Campo para cargar la foto del usuario -->
      <ion-item>
        <ion-label position="floating">Foto de Usuario</ion-label>
        <ion-input type="file" name="foto_usuario" (change)="onFileSelected($event)"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="takePicture()" class="mt-2">Tomar Foto</ion-button>

      <!-- Mostrar la imagen capturada -->
      <img *ngIf="foto_usuario" [src]="foto_usuario" class="img-fluid mt-2" alt="Foto de Usuario">

      <ion-button expand="full" type="submit" [disabled]="registroForm.invalid" class="mt-3">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
